*{
  margin: 0px;
  padding: 0px;
  height: auto;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #fbffff;
}

.background-body{
  background-color: #fbffff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/*body > .container {
  padding: 60px 15px 0;
}*/

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-color{
  background-color: #147586;
}

.gradient-text {
  background: -webkit-linear-gradient(135deg, white, #fae0e0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
}

.gradient-text:hover {
  background: -webkit-linear-gradient(135deg, white, #ff8e9b);
   /*background: -webkit-linear-gradient(135deg, white, #f691a3);*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
}

button.btn-with-search{
  border-radius: 20px;
  line-height: normal;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -8px;
}

#btn-ask{
  line-height: normal;
  border-radius: 10px;
  margin-right: 10px;
  color: #fff4f5;
  background-color: #ff8e9b;
  border-color: #fcb9bf;
}

.btn-ask-block{
  margin-top: 4px;
}

input.search-field{
  border-radius: 20px; 
  line-height: normal; 
  background-color: #fffafb;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#search-input{
  width: 400px;
  max-width: 70%;
}


nav input.form-control:focus{
  border-radius: 20px; 
  line-height: normal; 
  background-color: #fffafb;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline:none;
}

.auth{
  witdh: 300px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

.auth-text-block{
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
  display: inline-block;
  margin-top: -3px;
}

.auth-row{
  height: 1.25rem;
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;

}

.auth-item{
  margin: 0px 2px;
}

.non-auth-item{
  margin: 0px 0px;
  display: inline-block; 
  padding: 0px;
}

.sign-buttons{
  color: #FAE9E9;
}

.sign-buttons:hover{
/*  text-decoration: underline*/;
/*  color: #fccad2;*/
  border-radius: 7px;
  padding: 4px;
  margin: -5px;
  border: 1px solid #FAE9E9;
}

.decor-name{
  color: #FAE9E9;
  line-height: 20px;
  font-size: 16px;
  font-family: 'Futura'; 
  margin-top: 3px;
}

.decor-name:hover{
  background: -webkit-linear-gradient(135deg, white, #ff8e9a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
/*  color: #ff8e9a;*/
  text-decoration: none;
  line-height: 20px;
  font-size: 16px;
  font-family: 'Futura'; 
  margin-top: 3px;
}

.decor-item{
  color: #cbcdd7;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Actor', sans-serif;
  font-weight: lighter;
}

.decor-item:hover{
  color: #ff8e9a;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Futura'; 
  font-weight: lighter;
  text-decoration: none;
}

.avatar{
  width:auto;
  height:40px;
  border-radius: 50%;
  padding: 0px;
  margin:0px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.avatar-block{
  display:inline-block;
  height:40px;
  width:40px;
  padding: 0px;
}


.right-block{
  position: fixed;
}

.tags-block{
  margin-top: 20px;
  border-radius: 10px;
  background-color: #fff3f5; 
  max-width: 15rem;
  margin-left: 20px;
}


.tags-block-text{
  text-align: center;
  color: #16a2b8;
  text-decoration: underline;
}

.tag{
  color: #0c5460;
  margin:2px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Futura';
  padding: 5px;
}

.tag:hover{
  background-color: #FAE9E9;
  border-radius: 10px;
  text-decoration: none;
  color: #0c5460;

}

.card-body-tags{
  text-align: center;
}

.card-body-members{
  text-align: center;
}

.memb-block-text{
  text-align: center;
  color: #16a2b8;
  text-decoration: underline;
  margin-bottom: 10px;
}

li.mem-in-list{
  list-style-type: none;
  margin-top: 5px;
}

ul.member-list{
  margin-left: 0px;
  padding-left: 0px;
}

.member{
  padding: 5px;
  color: #0c5460;
  line-height: 20px;
  font-size: 16px;
  font-family: 'Actor', sans-serif;
  font-weight: lighter;
  height: 20px;
}

.member:hover{
  padding: 5px;
  color: #0c5460;
  line-height: 20px;
  font-size: 16px;
  font-family: 'Futura';
/*  font-weight: bold;*/
  text-decoration: none;
  height: 20px;
}

.sort-question{
  margin: 0px;
  margin-bottom: 20px;
  display: inline-block;
  line-height: 20px;
}

.q-type{
  font-family: 'Futura';
  color: #0c5460;
  margin-left: 10px;
  margin-right: 15px;
    text-decoration: underline;
  text-decoration-color: #ff8e9a;

}

.q-type-not-active{
  color: #328693;
  margin-left: 10px;
  margin-right: 15px;
  font-size: 80%;
  text-decoration: none;

}

.q-type:hover{
  text-decoration: underline;
  text-decoration-color: #ff8e9a;
  color: #ff8e9a;
}


.q-type-title{
  font-family: 'Futura';
  color: #0c5460;
  margin-left: 10px;
  margin-right: 15px;
  line-height: 20px;
  text-decoration: underline;
  text-decoration-color: #ff8e9a;
}

.list-question{
  margin-top: 20px;
  border-radius: 10px;
/*  margin-right: 5px;
  margin-left:5px;*/
}

.question-block{
  margin-bottom: 20px;
  background-color: #eef8f9;
  border-radius: 10px;
  padding: 0px;
  padding-bottom: 8px;
}


.main-question-block{
  margin-bottom: 20px;
/*  background-color: #eef8f9;*/
  border-radius: 10px;
  padding: 0px;
  padding-bottom: 8px;
}

.question-title{
  font-family: 'Futura';
/*  color: #0c5460;*/
  color:#ff8e9a;
  margin-top: 10px;
}

.question-title:hover{
  text-decoration-color: #ff8e9a; 
    font-family: 'Futura';
/*  color: #0c5460;*/
  color:#ff8e9a;
  margin-top: 10px;
}

.user{
  width:auto;;
  display:block;
  margin-top: 20px;
  text-align: center;
}

.user-name{
  margint-top: 5px;
  padding-top: 10px;
  text-align: center;
  color: #16a2b8;
  font-family: 'Futura';
  size:14px;
  line-height: 16px;

}

.question-picture{
  width:auto;
  height:60px;
  border-radius: 50%;
  padding: 0px;
}


.main-question-picture{
  width:auto;
  height:80px;
  border-radius: 50%;
  padding: 0px;
    box-shadow: 0 0 1em #ffcacf; 
}

.raiting-block{
  text-align: center;
  width:auto;
  margin-top: 10px;
}

.raiting{
  text-align:center;
  color: #0c5460;
  font-family: 'Futura';
  width:auto;
}

.arrow{
  text-align:center;
  color: #ff8e9a;
  font-weight: bolder;
}

.q-footer{
  display: inline-block;
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;

}
.question-tags{
  display: inline-block;
  margin: 0px;
  line-height: 30px;
}

.q-tag{
  color: #0c5460;
  margin:2px;
/*  margin-bottom: 4px;*/
  font-size: 14px;
  font-family: 'Futura';
  padding: 4px;
  background-color: #FAE9E9;
  border-radius: 10px;
  text-decoration: none;
}

.q-tag:hover{
  color: #0c5460; 
  background-color: #eef8f9; 
}

#btn-answer{
  line-height: 14px;
  border-radius: 10px;
  color: #fff4f5;
  background-color: #ff8e9b;
  border-color: #fcb9bf;
  margin-top: 1px;
  flex:right;
}

.right-button{
  text-align: right;
}

p.q-text{
  margin-left: 3px;
  margin-bottom: 15px;
  min-height: 4rem;
}

p.q-text-answer{
  margin-top: 20px;
  margin-left: 3px;
  margin-bottom: 20px;
}

.check-label{
  color: #ff8e9a;
  font-family: 'Futura'; 
}

.check-box{
  margin-left:10px;
}

.answer-block{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
}

textarea.form-control{
  resize: none;
  border-radius: 10px;
  border: 2px solid #ff8e9a;
  height: 100px;
}

#text-area-shadow:focus{
  outline: none !important;
  box-shadow: 0 0 1em #ffcacf;
  border-color: #ffcacf;
  /*#fff4f5*/
}

.ask-field{
  margin-bottom: 15px;
  display: inline-block;
}

.ask-title{
  color: #16a2b8;
  font-family: 'Futura'; 
  text-align: left;
}

.ask .form-control{
  resize: none;
  border-radius: 10px;
  border: 2px solid #c8e3e3;
  height: 37px;  
}

.ask .form-control:focus{
  outline: none !important;
  box-shadow: 0 0 1em #ffcacf; 
  border: 2px solid #c8e3e3;
}

.ask .form-control#question{
  resize: none;
  border-radius: 10px;
  border: 2px solid #c8e3e3;
  height: 130px;  
}

/*#form-control-ask{
  resize: none;
  border-radius: 10px;
  border: 2px solid #c8e3e3;
  height: 37px;
}

#form-control-ask:focus{
  outline: none !important;
  box-shadow: 0 0 1em #ffcacf;
}*/

.settings .form-control{
  resize: none;
  border-radius: 10px;
  border: 2px solid #c8e3e3;
  height:37px;
  max-width: 200px;  
}

.settings .form-control:focus{
  border: 2px solid #c8e3e3;
  outline: none !important;
  box-shadow: 0 0 1em #ffcacf;
}

.settings #staticLogin:focus{
  outline: none !important;
  box-shadow: none !important;
}

.settings #Avatar:focus{
  outline: none !important;
  box-shadow: none !important;
}

.set-avatar{
  border-radius: 50%;
/*  background-color: #eef8f9;*/
  box-shadow: 0 0 1em #ffcacf; 
  padding:2px;
  width:64px;
  height:64px;
  margin-bottom: 10px;

}

#link-account{
  color: #0c5460;
}

.error{
  margin-bottom: 15px;
  color: #EE4152;
  font-family: 'Futura';
}

.paginator{
  margin: 5px;
  margin-top: 10px;
  display: inline-block;
}

.page{
    margin:0px;
    padding: 7px 12px;
    border: 2px solid #cff5f8;
    border-radius: 10px;
    text-align: center;
    color: #0c5460;
    font-family: 'Futura';
    background-color: #fff4f5;  
    list-style-type: none;
}

.page:hover{
  text-decoration: none;
  color: #0c5460;
  border: 2px solid #0c5460;
}




/*
#page-prev{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;  
  background-color: #fff4f5;
  outline: none !important;
  box-shadow: none;
  color: #0c5460;
 border-color: #0c5460;
}

#page-next{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff4f5;
  outline: none !important;
  box-shadow: none;
  color: #0c5460;
}

border-box 
outline

.non-auth{
  width:auto;
  height:auto;
}

.auth-item{
  display: inline;
}

.auth-info-block{
  display: inline;
  width: auto;
  padding: 0px;
  margin: 0px;
  height: 40px;
}

.buttons{
  display: block;
  width: auto;
  height: auto;
}*/